# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX

# Thumbnails
._*

# VS Code
.vscode/

# Node.js (caso use para servidor local ou ferramentas)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Logs
*.log

# Environments
.env
.env.local
.env.*.local

# Outros
*.swp
*.swo
